@using CSSD_Subtask2_Group16.Models
@model LoginUserModel
@{
    ViewBag.Title = "LogIn";
}

<head>

</head>
<body>
    @using (Html.BeginForm())
    {
        <div>
            <h1>Login</h1>
        </div>
        <div>
            <label>Email: </label>
            @Html.EditorFor(model => model.Email) *
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div>
            <label>Password: </label>
            @Html.EditorFor(model => model.Password) *
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div>
            @if(@ViewBag.Failedcount != null)
            {
                <label>Failed attempt count is: @ViewBag.Failedcount</label>
            }
            @if(@ViewBag.NotValidUser != null)
            {
                <label>@ViewBag.NotValidUser</label>
            }
        </div>
        <div>
            <input type="submit" value="login"/>
        </div>
    }

</body>
